<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="../assets/styles/reset.css">
    
    <link rel="stylesheet" href="../assets/styles/header.css"><!--Linkeado-->
    <link rel="stylesheet" href="../assets/styles/footer.css"><!--Linkeado-->
    <link rel="stylesheet" href="../assets/styles/sing-up.css">
    <script src="../javascript/employee-singup.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trackgenix</title>
</head>

<body>
    <header>
        <nav class="container_nav">
            <img src="https://img.myloview.es/cuadros/hamburger-menu-icon-menu-icon-in-trendy-flat-style-i[…]esign-app-logo-ui-vector-illustration-eps10-400-198409260.jpg"
                alt="main"height="30px" id="burguer">
            <div class="btn_tutorial">
                <a href="#" id="btn_border">Tutorials</a> 
                <a href="#">Contact</a>
            </div>
            <input type="search" name="#" id="input_nav">
            <section class="div_sign_in">
                <button>
                    <a href="../views/index.html">
                        Home
                    </a>
                </button>
            </section>
            <div id="icon_nav">
                <p >🔎</p>
            </div>
            
        </nav>
    </header>
    <main>
        <div id="container_ppal">
            <div class="tittle_main">
                <img src="https://cdn.worldvectorlogo.com/logos/tether.svg" alt="Logo" height="80px">
            </div>    
            <div class="div_tittle">
                <h1><b>Trackgenix</b></h1>
                <h2>Data managment</h2>
            </div>
            
        </div>

    <div class="divForm">
        <form action="#">
            <div id="separador">
                <section class="secc_Form">
                    <label for="#">
                        Name:
                    </label>
                    <input type="text" placeholder="Write your name"  id="input_Name">
                    <p class="error_msj" id="errorMens">Ingrese correctamente la información</p>
                    <label for="#">
                        Last Name:
                    </label>
                    <input type="text" placeholder="Write your last name" value="" id="input_Last_Name">
                    <p class="error_msj" id="msjError1">Ingrese correctamente la información</p>
                    <label for="#">
                        Document:
                    </label>
                    <input type="text" placeholder="Write your document number" id="input_Dni">
                    <p class="error_msj" id="error_2">Ingrese correctamente la información</p>
                    <label for="#">
                        Date of Birth:
                    </label>
                    <input type="text" id="input_Date" placeholder="mm/dd//yy">
                    <p class="error_msj" id="msjError3">Ingrese correctamente la información</p>
                    <label for="#">
                        Phone Number:
                    </label>
                    <input type="text" id="input_Phone_Num">
                    <p class="error_msj" id="msjError4" >Ingrese correctamente la información</p>
                    <label for="#">
                        Direction
                    </label>
                    <input type="text" placeholder="Write your direction" name="" id="input_Adress">
                    <p class="error_msj" id="msjError5">Ingrese correctamente la información</p>
                </section>
                <section class="secc_Form">
                    <label for="#">
                        Location:
                    </label>
                    <input type="text" placeholder="Write your location" id="input_Location">
                    <p class="error_msj" id="msjError6">Ingrese correctamente la información</p>
                    <label for="#">
                        Postal Code:
                    </label>
                    <input type="text" placeholder="Write your postal code" id="input_Postal">
                    <p class="error_msj" id="msjError7">Ingrese correctamente la información</p>
                    <label for="#">
                        Email:
                    </label>
                    <input type="text" placeholder="Write your email" id="input_Email">
                    <p class="error_msj" id="error_Msj8">Ingrese correctamente la información</p>
                    <label for="#">
                        Password:
                    </label>
                    <input type="password" placeholder="Write your password" id="input_Pwd">
                    <p class="error_msj" id="msjError9">Ingrese correctamente la información</p>
                    <label for="#">
                        Repeat password
                    </label>
                    <input type="password" id="input_Pswrd_2">
                    <p class="error_msj" id="msjError0">Ingrese correctamente la información</p>
                                   
                </section>
                <input type="submit" id="btn_form">
            </div>
            
        </form>
        
    </div>
    </main>
    <footer>
        <section>
            <a href="#">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRpEP6_ZqUdItJUMNAiUfH-ytlPuseYnOrLhNp8lPl6ViB_O1-Tz4n3jwbPlVkirF3Y3QU&usqp=CAU"
                alt="linkedin">
            </a>    
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS73k3dFT_EfG0rqnbaKS2PxNOc1YjJjVWnY6-IaeAW9z2ITGbY1RQXqG9WhJAtgSgdsg0&usqp=CAU"
                alt="twitter">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTBZKT7Yleym993SA5GMZxdYhwHwV09j8f9yUP1NZKIBduaz9Mogz77BYsLnht0-0xHnI0&usqp=CAU"
                alt="facebook">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQTULUhZjZ8Y88PCtERA09YDloaWTCAEkS9-Q&usqp=CAU"
                alt="instagram">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRTFSIO_dsJJiOX3Sntwxpw6lUIJKI0ueBlRpcQ3q57xVOw4-bCAQ2eX0v_5v2sf5CIiNA&usqp=CAU"
                alt="">
        </section>
        <section>
            <p>
                Montevideo, Uruguay.
            </p>
            <p>
                Copyright 2002 Radium Rocket. All rights reserved.
            </p>
        </section>
    </footer>

</body>
</html>
