*{  margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
#burguer{
    height: 30px;
    background-color: rgb(6, 6, 6);
}

#container_ppal{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.tittle_main{
    display: flex;
    justify-content: center;
    height: 100px;
    margin-top: 25px;
    
}
.tittle_main h1{
    height: 50px;
}
.tittle_main h2{
    height: 30px;
}
#img_ppal{
    width: 80%;
}
.container_img{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
/**** estilos de seccion de imagenes**/

#container_cards {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-self: center;
    margin: 4%;
}
#container_cards section {
    flex-direction: column;
    margin-left: 14%;
    align-items: center;
    text-align: center;
    box-shadow: 0px 4px 4px 0px;
}

.card {
    border: solid grey 0.5px;
    display: flex;
    margin: 5%;
}
.card p{
    margin-top: 5px
}
.container_info {
    flex-direction: column;
    text-align: center;
}
.container_info ul{
    list-style: none;
    margin: 5%;
}

.container_about {
    display: flex;
    background-color: #80808057;
    align-content: flex-start;
    flex-direction: column;
    margin: auto;
    width: 90%;
    box-shadow: 0px 4px 4px 0px;
    border-radius: 35px;
    padding: 10px;
}
.about_tittle {
    display: flex;
    flex-direction: column;
    margin-bottom: 8px;
}
.about_tittle_img{
    width: 200px;
    height: 200px;
 }
.about_info{
    display: flex;
    flex-direction: row;
}
.about_info p{
    font-size: 15px;
}

#container_end{
    background-color: #50A780;
    display: flex;
    text-align: center;
    margin-top: 5vw;}
#container_end ul{
    list-style: none;
}
#container_end section{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}
#container_end li{
    color: white;
    border-left: solid black;
}

/*********ESTILOS DEL MENU*****/

#menu-desp{
    background: linear-gradient(180deg, rgba(0,178,140,1) 0%, rgba(76,189,157,1) 73%, rgba(225,243,239,1) 100%);
    width: 448px;
    height: 1909px;
}
.main-1 {
    
    height: 400px;
    width: 70%;
    margin-left: 30px;
}
.main-1 a {
   font-size: 25px;
    text-decoration: none;
    display: inline-block;
    color: black;
    border-bottom: 2px solid #23212159;
    margin-bottom: 37px; 
}
.main-1 ul li{
    text-decoration: none;
}
#tittle-menu {
    border-bottom: solid #dc3030bd;
    font-size: 30px;
    margin: 11px;
    margin-bottom: 23px;
}
.main-2 {
    margin-left: 40px;
    margin-top: 92px;
    width: 336px;
    height: 187px;
}
.main-2 section{
    width: 240px;
    margin-bottom: 10px;
    border-bottom:solid #dc3030bd;
    font-size: 30px;
}
.main-2 p{
    font-size: 22px;
    font-weight: 100;
}
.main-3 {
    margin-left: 39px;
    margin-top: 205px;
    width: 270px;
}
.main-3 p{
    font-size: 20px;
    font-weight: bolder;
}
#menu-desp button{
    align-items: flex-end;
}

/***********ESTILOS DEL MENU***/
/*****ESTILOS DEL FORMULARIO*/
#div_form{    display: flex;
    flex-flow: column wrap;
    width: 50%;
    font-size: 22px;
    padding: 1% 2% 1% 0%;;
}
.form_1, .form_2{
    display: flex;
}
/*estilos dle formulario*/


@media screen and (max-width: 768px){
    .secc_1{
        display: none;
    }
    .img_card {
        width: 101px;
        height: 79px;
        margin-left: 0px;
        padding: 0px;
        border: solid grey 0.5px;
    } 
    #div_form{
        display: none
    }  
    .about_tittle_img {
        height: 72px;
        width: 140px;
    }
    #container_info ul{
        margin: 5%;
    }
    .about_tittle p{
        font-size: 18px;
    }
    h4{
        font-size: 30px;
        font-weight: bold;
    }
}

@media screen and (min-width: 768px) and (max-width:1024px){
    #div_form{
        display: none;
    }
    .secc_1{
        display: none;
    }
    .tittle_main{
        justify-content: start;
        padding: 25px;
    }
    .card{
        border: solid grey .5px;
        border-radius: 10px;
        
    }
    .img_card{
        width: 100px;
        height: 90px;
    }
    #container_menu{
        display: none;
    }
    .container_img {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: stretch;
        text-align: center;
    } 
    #container_card section{
        height: 28vw;
    }
    #container_cards{
        width: 50%;
    }
    .container_magic{
        display: flex;
    }
    .container_info {
        width: 53%;
        padding-top: 6%;
        order: -1;
        font-size: 24px;
        display: flex;
        text-align: start;
    }
    .container_about {
        
        background-color: #80808057;
        width: 90%;
        border-radius: 35px;
        padding: 10px;
        font-size: 30px;
    }
    .about_tittle_img {
        width: 180px;
        height: 88px;
    }
    #txt_img{
        font-size: 19px;
        margin-left: 2%;

    }
    #container_info ul{
        margin: 2%;
    }

}
@media screen and (min-width: 1024px){
    main{
        display: flex;
    }
    .secc_1{
        display: flex;
        width: 29%;
        }
    .secc_2 {
    width: 60%;
    margin-left: 79px;
}
    .tittle_main{
        justify-content: start;
    }
    .tittle_main h1 {
        height: 50px;
        font-size: 41px;
        font-weight: bold;
    }
    .tittle_main h2 {
        /* color: red; */
        font-size: 28px;
    }
    .container_img{
        display: flex;
        flex-direction: row;
        margin-left: 20px;
    }
    .container_img p{
        font-size: 23px;
    }
    .container_info {
        flex-direction: row;
        text-align: center;
        display: flex;
        margin-left: 50px;
    }
    .container_info h4{
        font-size: 20px;
        font-weight: bold;
        margin-left: 30px;
    }
    .img_card{
        width: 85px;
        height: 96px;
    }
    #container_cards{
        padding-left: 5px;
    }
    #container_cards section {
        margin-left: 0;
    }
    .about_tittle_img {
        width: 175px;
        height: 108px;
    }
    .about_info p{
        font-size: 20px;
    }
    #container_end{
        margin-top: 50px;
        height: 200px;
    }

}