*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
      /** ESTILOS DE HEADER**/
.container_nav{
    background-color: rgb(19, 157, 118);
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
.div_sign_in {
    width: 40%;
    border: solid black;
    display: flex;
    justify-content: space-between;
}
.container_nav button {
    height: 23px;
    width: 90px;
    background-color: white;
    font-size: 20px;
    border-radius: 20px;
    text-align: center;
    padding-bottom: 24px;
    font-weight: bold;
}

@media screen and (max-width: 480px){

    .container_nav a{
        display: none;
    }
    .container_nav input {
        display: none;
    }
   
}



