<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="../assets/styles/reset.css">
    <link rel="stylesheet" href="../assets/styles/header.css"><!--Linkeado-->
    <link rel="stylesheet" href="../assets/styles/footer.css"><!--Linkeado-->
    <link rel="stylesheet" href="../assets/styles/login.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
    <script src="../javascript/login.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trackgenix</title>
</head>

<body>
    <header>
        <nav class="container_nav">
            <img src="https://img.myloview.es/cuadros/hamburger-menu-icon-menu-icon-in-trendy-flat-style-i[…]esign-app-logo-ui-vector-illustration-eps10-400-198409260.jpg"
                alt="main"height="30px" id="burguer">
            <div class="btn_tutorial">
                <a href="#" id="btn_border">Tutorials</a> 
                <a href="#">Contact</a>
            </div>
            <input type="search" name="#" id="input_nav">
            <section class="div_sign_in">
                <button>
                    <a href="/views/index.html">
                        Home
                    </a>
                </button>
                
            </section>
            <div id="icon_nav">
                <p >🔎</p>
            </div>
            
        </nav>
    </header>
    <main>
        <div id="container_ppal">
            <div class="tittle_main">
                <img src="https://cdn.worldvectorlogo.com/logos/tether.svg" alt="Logo" height="80px">
                <div class="div_tittle">
                    <h1><b>Trackgenix</b></h1>
                    <h2>Data managment</h2>
                </div>
            
            </div>
        <div class="container_Form_log">
            <h3>Sign Up</h3>
            <div class="div_Form">
                <form action="#">
                    <label for="email-login" class="label_form_login">
                        Email
                    </label>
                    <input type="text" name="email-login" id="email_Login" class="input_login" placeholder="Ingrese email">
                    <p  id="firstError" class="text_alert">texto de alerte</p>
                    <label for="password-login" class="label_form_login">
                        Password
                    </label>
                    <input type="password" name="password_login" autocomplete="off" class="input_login" id="password_login" placeholder="Ingrese email">
                    <p class="text_alert" id="secondError" >texto de alerte</p>
                    <input type="submit" id="button_form" value="Ingresar">
                </form>
            </div>
        </div>
    </main>
    <footer>
        <section>
            <a href="#">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRpEP6_ZqUdItJUMNAiUfH-ytlPuseYnOrLhNp8lPl6ViB_O1-Tz4n3jwbPlVkirF3Y3QU&usqp=CAU"
                alt="linkedin">
            </a>    
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS73k3dFT_EfG0rqnbaKS2PxNOc1YjJjVWnY6-IaeAW9z2ITGbY1RQXqG9WhJAtgSgdsg0&usqp=CAU"
                alt="twitter">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTBZKT7Yleym993SA5GMZxdYhwHwV09j8f9yUP1NZKIBduaz9Mogz77BYsLnht0-0xHnI0&usqp=CAU"
                alt="facebook">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQTULUhZjZ8Y88PCtERA09YDloaWTCAEkS9-Q&usqp=CAU"
                alt="instagram">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRTFSIO_dsJJiOX3Sntwxpw6lUIJKI0ueBlRpcQ3q57xVOw4-bCAQ2eX0v_5v2sf5CIiNA&usqp=CAU"
                alt="">
        </section>
        <section>
            <p>
                Montevideo, Uruguay.
            </p>
            <p>
                Copyright 2002 Radium Rocket. All rights reserved.
            </p>
        </section>
    </footer>
    
</body>

</html>
